header {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.lista__menu {
    display: none;
    flex-direction: column;
    list-style: none;
    position: absolute;
    left: 220px;
    top: 10px;
    background-color: var(--azul-escuro);
    color: var(--branco);
}

#menu {
    display: none;
}


#menu:checked ~ .lista__menu {
    display: flex;
}


.img__menu-hamburguer {
    display: flex;
    flex-direction: row;
}


